name: Build

on:
  workflow_dispatch:
    inputs:
      openwrt_version:
       description: 'OpenWrt version'
       default: 'main'
       required: true
       type: string
  
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: ${{ matrix.arch }} build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - aarch64_cortex-a53

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        uses: openwrt/gh-action-sdk@main
        env:
          ARCH: ${{ matrix.arch }}-${{ github.event.inputs.openwrt_version }}
          V: sc
          PACKAGES: usteer luci-app-usteer
          CONFIG_PACKAGE_FORMAT_APK: y

      - name: List outputs
        run: |
          find bin/packages

      - uses: actions/upload-artifact@v4
        with:
          name: ls-${{ matrix.arch }}
          path: bin/packages/${{ matrix.arch }}/action/*.apk

  release:

    name: Release all packages
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    
      - uses: actions/download-artifact@v4
        with:
          path: apks
          pattern: ls-*
          merge-multiple: true
          
      - name: List outputs
        id: list
        run: |
          v=$(ls apks/usteer_*.apk | head -n 1 | awk -F"_" '{print $2}')
          echo "usteer_version=$v" >> "$GITHUB_OUTPUT"
          echo "usteer_version_tag=${v//[^A-Za-z0-9._-]/-}" >> "$GITHUB_OUTPUT"
    
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          tag_name: v${{ steps.list.outputs.usteer_version_tag }}_${{ github.event.inputs.openwrt_version }}_${{ github.run_number }}
          body: |
            usteer v${{ steps.list.outputs.usteer_version }}
            OpenWrt ${{ github.event.inputs.openwrt_version }} build
          files: |
            apks/*
